.project-list {
  margin-top: 3vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project {
  position: relative;
  z-index: 0;
}

.project-overlay {
  display: none;
  position: absolute;
  z-index: 2;
  color: white;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
}

.project-visual {
  width: 100%;
  aspect-ratio: 1/1;
}

.project:hover .project-visual {
  filter: brightness(30%);
}

.project:hover .project-overlay {
  display: unset;
}

.project-title {
  font-size: var(--item-title-size);
}

.project-content {
  font-size: var(--item-text-size);
  display: flex;
  flex-direction: column;
  gap: 3vh;
  margin: 0 1vh;
}

.project-topic {
    border-radius: 2px;
    padding: 2px;
}

.project-topics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
}

@media screen and (max-width: 800px) {
  .project-list {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  .project-overlay {
    display: unset;
  }

  .project-visual {
    filter: brightness(30%);
  }
}
