.clickable:hover{
    cursor: pointer;
    color: #f06;
}

.light-font{
    font-size: calc(0.55em + 0.5vw);
    color: rgba(0, 0, 0, 0.4);
}

.strong-font{
    font-size: calc(0.9em + 0.5vw);
    font-weight: bold;
}

.large-font{
    font-size: calc(1.8em + 0.5vw);
    color:black;
}

.restrict-spacing{
    word-spacing: calc(-0.1em + 0.05vw)
}

.section-name{
    color: black;
    font-size: calc(1.8em + 0.5vw);
    text-align: center;
}

.section{
    overflow: auto;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.portfolio-overlay{
    position: absolute;
    z-index: 900;
    margin: "0 auto";
    left: 0%;
    width: 100%;
    color: #000;
}