h1{
    text-size-adjust: 40px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
    font-size: 30;
    font: 'monospace';
}

body{
    font-family: 'Montserrant';
    background-color: #444444;
    color: white;
}
#top{
    background-image: url("images/code.png");
    height: 840px;
    width: 1450px;
    filter: sepia(50)
}

.nav{
    background-color: #222222;
    text-align: center;
    padding: 20px;
    border: 2px, lightgreen;
    align-items: center;
}

.nav li{
    display: inline-block;
    

}
.nav li a{
    font-size: 20px;
    font-family: "Montserrat";
    color: grey;
    text-decoration-line: none;
    padding: 15px;
}
.nav li a:hover{
    color:lightgreen;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    align-content: center;
}

.Project {
    text-align: center;
    border: 5px solid darkgray;
    float: left;  
    font-family: 'Montserrat';
}

.Project h3{
    font-family: 'Montserrat';
    font-size: 36px;
}

.Project-Layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

#SKILLS{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 100px;
    grid-gap: 20px;

}

.skills{
    background-color: white;
    color: #000000;
    border: 1px gray; 

}
button:hover{
    cursor: pointer;

}

.center{
    text-align: center;
}