.experience-heading {
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5vh;
}

.experience:hover {
  cursor: pointer;
}

.experience {
  display: flex;
  flex-direction: column;
}

.experience-title {
  font-size: var(--item-title-size);
}

.experience-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--item-subtitle-size);
}

.experience-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  font-family: "Roboto Mono";
  padding: 0.5rem;
  gap: 0.5vh;
  font-size: var(--item-text-size);
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
