@import "../Main.css";

.experience-header:hover{
    cursor: pointer;
}

.experience-tile{
    border: 1px solid #f06;
    border-radius: 5px;
    background: white;
    min-height: 85px;
    color: black;
}

.logo{
    border-radius: 50%;
    width: calc(2.5em + 0.5vw);
    height: calc(2.5em + 0.5vw);
}
